# Ambiente virtual
venv/
.venv/

# Airflow local
.airflow/
airflow.db
airflow.cfg
webserver_config.py

# Logs
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Docker
*.pid
docker-compose.override.yml

# Dados do pipeline
data/**/*.csv
!data/
!data/raw/
!data/raw/climatedata/
!data/processed/
!data/processed/climatedata/
!data/analytics/

# Sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
